.quotes {
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    text-align: center;
}

.quotes__title {
    margin: auto;
}
.quotes__title > h2 {
    
    font-size: 1rem;
    flex: 1;
}