.todo {
  padding: 10px;
 display: flex;
 flex-direction: column;
 width: 100%;
  
}

.todo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(to right top, #65dfc9, #6cdbed);
  
}

.todo__container >li {
  flex: 1;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
